/* 
Theme name: Mon theme
*/
body{
    background-color: rgb(255, 255, 255)!important;
}
a{
    color: black;
    text-decoration: none;
}

/* single */
.page_item a {
    text-decoration: none;
    color: white;
}
.items-inner{
    column-count: 2;
}
.container{
    display: flex;
}
body{
    margin: 0;
}
.containerLeft{
    width: 180px;
}
.containerRight{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#titreAn{
    text-align: center;
}
.back-to-top a{
    text-decoration: none;
    color: black;
}

/* index */
#description{
    margin-bottom: 100px;
}

.az-letters-wrap{
    display: none;
}
.az-columns li a{
    color: black;
    text-decoration: none;
}

/* header */
#navigation{
    background-color: black;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
li{
    list-style-type: none;
}
.back-to-top a {
    display: none;
}
h1,h2{
    font-size: 1.2rem;
    font-weight: normal;
}
@media screen and (max-width: 350px){
    h1,h2{
        font-size: 0.9rem;
        font-weight: normal;
    }
    .items-inner{
        column-count: 1;
    }
}